html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
li {
  font-size: larger;
}
nav li a {
  text-decoration: none;
  color: snow;
}
#logo {
  padding-top: 70px;
}
#menu-bar {
  display: none;
}
nav label {
  font-size: 18px;
  color: snow;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
}
nav {
  position: fixed;
  top: 0;
  background-color: green;
  backdrop-filter: blur(1px);
  height: 50px;
  width: 100%;
  border-bottom: solid 2px black;
  z-index: 1;
}
header ul {
  text-decoration: none;
  list-style: none;
  padding-left: 40%;
  padding-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header a {
  color: snow;
  transition: all 0.5s linear;
}
header a:hover {
  color: black;
  zoom: 1.5;
  font-style: italic;
}
header {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destination h1 {
  margin-left: 15px;
}
.principal .content .destination {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.principal .content .destination .left {
  width: 500px;
  background-color: dodgerblue;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px,
    rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px,
    rgba(0, 0, 0, 0.05) 0px 25px;
}
.principal .content .destination .right img {
  height: 375px;
  width: 225px;
  margin-top: 5px;
}
main img {
  width: 300px;
  height: 300px;
}
main {
  position: relative;
  width: 950px;
  padding: 40px;
  margin: 20px auto;
}
main p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main a {
  color: black;
}
.location {
  margin-top: 50px;
  color: dodgerblue;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(3px);
  padding-top: 20px;
  padding-bottom: 10px;
  color: snow;
}
footer p {
  text-align: center;
}
footer li a {
  color: snow;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
footer img {
  border-radius: 10%;
}
#logowhatsapp,
#logofacebook {
  width: 50px;
  height: 40px;
}
/* .dmkt-whatsapp-button{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}
.dmkt-whatsapp-button .fa-whatsapp:before{
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
    background-color: #25D366;
    padding: 15px;
}
.dmkt-whatsapp-button:hover{
    opacity: 0.8;
} */
@media only screen and (max-width: 1110px) {
  header {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  main {
    zoom: 0.9;
    margin: 20px auto;
  }
  main {
    padding-top: 0.1px;
  }
}
@media only screen and (max-width: 1010px) {
  header {
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .principal .content .destination .left {
    width: 300px;
  }
  .principal .content .destination .right img {
    height: 375px;
    width: 225px;
    margin-top: 5px;
  }
  main {
    zoom: 0.9;
    margin: 20px auto;
    width: 500px;
  }
  main {
    padding-top: 0.1px;
  }
  main img {
    width: 175px;
    height: 175px;
  }
  #logo {
    transform: scale(0.8);
  }
  footer {
    font-size: small;
  }
  #logowhatsapp,
  #logofacebook {
    width: 40px;
    height: 30px;
  }
}
@media only screen and (max-width: 700px) {
  nav label {
    display: initial;
  }
  header {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .principal .content .destination .left {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .principal .content .destination .right img {
    height: 275px;
    width: 200px;
    margin-top: 15px;
  }
  .principal .content .destination .right {
    margin-left: auto;
    margin-right: auto;
  }
  nav ul li.navText {
    display: none;
    position: relative;
    top: 100%;
    right: 0px;
    text-align: center;
    width: 100vw;
    border: 2px solid black;
    background-color: black;
    padding: 0px;
    margin-top: -25px;
  }
  li {
    font-size: medium;
  }
  #menu-bar:checked ~ .navText {
    display: initial;
  }
  main {
    zoom: 0.9;
    margin: 20px auto;
    width: 250px;
  }
  main {
    padding-top: 0.1px;
  }
  main img {
    width: 175px;
    height: 175px;
  }
  #logo {
    transform: scale(0.6);
  }
  /* footer {
        font-size: small;
    } */
  footer {
    font-size: small;
  }
  footer ul {
    flex-direction: column;
  }
  #logowhatsapp,
  #logofacebook {
    width: 30px;
    height: 20px;
  }
}
@media only screen and (max-width: 280px) {
  nav ul li.navText {
    right: 41px;
  }
  .principal .content .destination .left {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .principal .content .destination .right img {
    height: 200px;
    width: 175px;
    margin-top: 15px;
  }
  main {
    zoom: 0.9;
    margin: 20px auto;
    width: 220px;
  }
}
